<style>


.spinner {
/*  margin: 100px auto;*/
/*  width: 50px;*/
  height:15%;
  text-align: center;
/*  font-size: 10px;*/
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}



    .space {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        z-index: 10;
        /*        border:dotted;
        border-color:red;*/
    }


    .space_grid {
        position: absolute;
        border-color: red;
        height: 100%;
        width: 100%;
        z-index: 100;
        display: grid;
        grid: [r1-start] "header header header" 1fr [r1-end] [r2-start] ". logo ." 2fr [r2-end] [r3-start] ". spinner ." 1fr [r3-end] / 1fr 2fr 1fr;
        background-color: white;
        animation: intro 3.4s, backChange 6.8s infinite ease-in;
        transition-delay: 3.4s;
    }

    .cover_grid {
        /*        background: url('/GaleriaTlalpan3A.jpg') no-repeat center center fixed;*/
        grid-area: logo;
/*        background-image: url('media/index/GaleriaTlalpan3A.jpg');*/
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .cover {
        position: absolute;
        background-image: url('media/index/GaleriaTlalpan3A.jpg');
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        z-index: 100;
        background-position: center center;
        background-color: white;
        animation: intro 3.4s, backChange 6.8s infinite ease-in;
        transition-delay: 3.4s;
        position: center;
    }

    @@keyframes intro {
        0%, 50% {
            background-image: linear-gradient(0,white, white);
            /*            visibility: visible;
            opacity: 1.0;*/
        }

        100% {
            /*            background-image: url('media/index/galeria tlalpan 3A.png');*/
            background-image: linear-gradient(0,white, white);
            /*            visibility: hidden;
            opacity: 0.0;*/
        }
    }

    @@keyframes backChange {
        0%, 25% {
            filter: invert(0%);
        }

        50%, 75% {
            filter: invert(80.8%);
        }
    }
</style>



@if (IsLoaded)
{
    @ChildContent
}
else
{
    <div class="@CssClass">
        <div class="space_grid">
            @*<div class="loader"></div>*@
            <div class="cover_grid" style="background-image: url('/GaleriaTlalpan3A.jpg'); ">
            </div>

            <div style="grid-area: spinner;">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public bool IsLoaded { get; set; }
    [Parameter]
    public string CssClass { get; set; }


    [Parameter]
    public RenderFragment ChildContent { get; set; }

}