@using ForgeLibs.Data;
@using ForgeLibs.Models;
@using ForgeLibs.Models.Forge;
@using ITZWebClientApp.Infraestructure.Data;

@inherits LayoutComponentBase

@inject OmniClassRepository omni;
@inject IForgeModelRepository repo;
@*<div class="sidebar">
        <NavMenuTop />
    </div>*@

<NavMenuTop Links="projects"></NavMenuTop>
<main class="main">
    @Body
</main>


@code{

    private List<(string, string)> projects = new List<(string, string)>();
    protected override async Task OnInitializedAsync()
    {
        await repo.GetDataAsync();
        projects = repo.Projects.Select(x=> (x.Name, $"forge/{x.Id}")).ToList();
        await omni.LoadFileAsync();
    }
}
