
@using ForgeLibs.Models;
@using ITZWebClientApp.Infraestructure.Data;
@inject IItzRepository repo;

<style>
    .sidebar {
        /*    background-image: linear-gradient(180deg, #333333 0%, #3a0647 70%);*/
        background-image: linear-gradient(180deg, var(--ribbonColor) 0%, var(--webFavoriteColor) 70%);
        /*    flex-shrink: 0;*/
        flex-basis: 250px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        width: 350px;
        /*    height: 100vh;*/
        position: sticky;
        top: 0;
        /*    min-width: 180px;*/
        transition: 0.5s;
        height: calc(100vh - var(--ribbonHeight))
    }

        .sidebar .top-row {
            background-color: rgba(51,51,51,1);
            position: fixed;
            width: 100%;
        }

        .sidebar .navbar-brand {
            font-size: 1.1rem;
        }

        .sidebar .oi {
            width: 2rem;
            font-size: 1.1rem;
            vertical-align: text-top;
            top: -2px;
            position: inherit;
        }

        .sidebar .nav-item {
            font-size: 0.9rem;
            padding-bottom: 0.5rem;
        }

            .sidebar .nav-item:first-of-type {
/*                padding-top: 1rem;*/
            }

            .sidebar .nav-item:last-of-type {
/*                padding-bottom: 1rem;*/
            }

        .sidebar .nav-item {
            color: #d7d7d7;
        }

            .sidebar .nav-item b {
                font-size: smaller;
            }

            .sidebar .nav-item a {
                color: #d7d7d7;
                border-radius: 4px;
                height: 3rem;
                display: flex;
                align-items: center;
                /*line-height: 3rem;*/
            }

                .sidebar .nav-item a.active {
                    background-color: rgba(255,255,255,0.25);
                    color: white;
                }

                .sidebar .nav-item a:hover {
                    background-color: rgba(255,255,255,0.1);
                    color: white;
                }

        .sidebar .collapse {
            /* Never collapse the sidebar for wide screens */
            display: block;
            /*        margin-top: 60px;*/
        }

        .sidebar.hide {
            flex-basis: 0;
        }


        .sidebar .dontCollapse {
            /*        margin-top: 60px;*/
        }
</style>

<style>
    ul.subList {
        list-style: disclosure-closed;
    }
    li.listGroup {
        list-style: disclosure-closed;
        font-weight:bold;
    }
    li.nav-item .item {
        list-style: disc;
        font-size: smaller;
        height:45px;
    }
    .nav-link-app, .nav-link-project {
/*        font-size:10px;*/
        text-decoration:none;
        padding:5px;
        margin-top:5px;
    }
        .nav-link-app:hover, .nav-link-project:hover {
            text-decoration: none;
        }

</style>

    <div style="flex-basis:100%; overflow:auto;">
        <div class="@navMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="cv" Match="NavLinkMatch.All" @onclick="()=> { showProjects = false; showApps = false; }">
                        <span class="oi oi-document" aria-hidden="true"></span>Experiencia
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="knowledge" Match="NavLinkMatch.All" @onclick="()=> { showProjects = false; showApps = false; }">
                        <span class="oi oi-graph" aria-hidden="true"></span>Conocimientos
                    </NavLink>
                </li>

                <li class="nav-item px-3 subList">
                    <NavLink class="nav-link" @onclick="()=> { showProjects = !showProjects; showApps = false; }">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Proyectos
                    </NavLink>
                    @if (showProjects)
                    {
                        <ul class="subList">
                            @foreach (Project project in _projects)
                            {
                                if (repo.ImageInfo.Where(x => x.ProjectId == project.Id).Count() == 0) continue;
                                <li class="nav-item item">
                                    <NavLink class="nav-link-project" href=@($"projects/{@project.Id}") @onclick="()=> {  }">
                                        @project.Name
                                    </NavLink>
                                </li>
                            }
                        </ul>
                    }
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/forgedesktop/1702">
                        <span class="oi oi-terminal" aria-hidden="true"></span> Forge Demo
                    </NavLink>
                </li>
                @*@for (int i = 0; i < 5; i++)
        {
            string n = "cycle" + i;
            <li class="nav-item px-3">
                <NavLink class="nav-link" href=@($"/cycle/{i}")>
                    <span class="oi oi-terminal" aria-hidden="true"></span> @n
                </NavLink>
            </li>
        }*@

                <li class="nav-item px-3 subList">
                    <NavLink class="nav-link" href="apps/index" @onclick="()=> { showProjects = false; showApps = !showApps; }">
                        <span class="oi oi-terminal" aria-hidden="true"></span> Apps
                    </NavLink>
                    @if (false)
                    {
                        <ul class="subList">
                            @for (int g = 0; g < appGroups.Count; g++)
                            {
                                <li class="nav-item listGroup">
                                    <b>@appGroups[g].Key</b>
                                </li>
                                @for (int i = 0; i < appGroups[g].Count(); i++)
                                {
                                    AppInfo app = appGroups[g].ElementAt(i);
                                    <li class="nav-item item">
                                        <NavLink class="nav-link-app" href=@($"apps/{app.Name}") @onclick="()=> {  }">
                                            @ForgeLibs.NetStandardsUtils.AddSpace(app.Name)
                                        </NavLink>
                                    </li>
                                }
                            }
                        </ul>
                    }
                </li>
            </ul>
        </div>
    </div>

@code {

    //Add App and Project Links using the repository on Navbar

    private bool collapseNavMenu = true;
    private string navMenuCssClass => collapseNavMenu ? "collapse" : "dontCollapse";
    private bool showProjects = false;
    private bool showApps = false;
    private IEnumerable<Project> _projects = Enumerable.Empty<Project>();
    private IEnumerable<AppInfo> _apps = Enumerable.Empty<AppInfo>();
    private List<IGrouping<string, AppInfo>> appGroups = new List<IGrouping<string, AppInfo>>();

    public void ToggleNavMenu() { collapseNavMenu = !collapseNavMenu; }


    protected override void OnInitialized()
    {
        _projects = repo.Projects.OrderByDescending(x => x.Id);
        _apps = repo.AppsInfo;
        appGroups = _apps.GroupBy(x => x.Group).ToList();
    }
}
