@page "/apps/{name}"

@using ForgeLibs.Models;
@using ITZWebClientApp.Infraestructure.Data;
@using System;

@inject IItzRepository repo;
@inject IJSRuntime JSRuntime
@inject HttpClient client

    <main class="container">
        <h1>@ForgeLibs.NetStandardsUtils.AddSpace(Name)</h1>

        @((MarkupString)$"{Html}")
    </main>


@code {

    [Parameter]
    public string Name { get; set; }

    public string Html { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        string addess = $"/appsInfo/{Name}.html";
        string str = await client.GetStringAsync(addess);
        Html = str;
    }
}
